<%- contentFor('head') %>
<link rel="stylesheet" type="text/css" href="stylesheets/css/index.css"/>
<%- contentFor('body') %>

<div id="main-body">
    <div class="rotating-image-div">
        <iframe width="100%"  height="50%" src="http://s1057.photobucket.com/user/Kyle_Vermeer/embed/slideshow/Main%20Page%20Slideshow"></iframe>
    </div>
    <div class="body-text">
            <h1>Welcome!</h1>
            <p class="small-text">Check out <a class="inline-link" href="/portfolio">a portfolio</a> of my work.</p>
            <p class="small-text">Or check out the <a class="inline-link" href="/pricing">pricing page</a> for information about scheduling and pricing.</p>
    </div>
</div>
