<!DOCTYPE>
<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,900|Petit+Formal+Script' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="stylesheets/css/responsivemobilemenu.css" type="text/css"/>
        <script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
        <script type="text/javascript" src="/javascripts/responsivemobilemenu.js"></script>
        <link rel="stylesheet" type="text/css" href="stylesheets/css/reset.css"/>
        <link rel="stylesheet" type="text/css" href="stylesheets/css/main-layout.css"/>
        <%-defineContent('head')%>
    </head>

    <body>
        <div id="all-content">
            <header>
                <div class="rmm" data-menu-title = "Photos By Paige">
                    <ul>
                        <li><a href='#home'>Home</a></li>
                        <li><a href='#about-me'>About Paige</a></li>
                        <li><a href='#about-me'>Portfolio</a></li>
                        <li><a href='#about-me'>Pricing</a></li>
                    </ul>
                </div>
            </header>
            <%-body%>
        </div>
    </body>
</html>
