<%- contentFor('head') %>
<link rel="stylesheet" type="text/css" href="stylesheets/css/pricing.css"/>
<%- contentFor('body') %>

<div id="main-body">
    <div class="body-text">
        <h1>Pricing</h1>
        <p class="small-text">Contact Paige for more info about pricing and scheduling.</p>
        <p class="small-text">Email and phone number are listed on the <a class="inline-link" href="/aboutMe">'About Paige'</a> page.</p>
    </div>
</div>
